###FTP
/sftp-config.json

### Base de datos
/config.php
includes/auth/config.php

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

fw/theme/

# KDE directory preferences
.directory

# Directories created on removable media
.[Tt]rash*